.none {
    display: none !important;
}

body {
    background: rgb(10, 10, 10);
    font-family: sans-serif;
}

p {
    margin: 0 0 5px;
}

.todo {
    color: rgb(255, 255, 255);
    text-shadow: 4px 3px 2px rgb(230, 107, 107);
    font-size: 36px;
}

.App .btn-delete {
    /* display: none !important; */
    margin-top: 10px;
    margin-left: 10px;
    padding: 6px;
    border: none;
    width: auto;
    border-radius: 15px;
    cursor: pointer;
    font-size: 35px;
    color: rgb(236, 122, 122);
    background: none;
    /* outline: none; */
    /* background: linear-gradient( 90deg, rgb(236, 122, 122) 0%, rgb(241, 168, 168) 100%); */
    background: #fff;
    /* color: #fff; */
    text-transform: capitalize;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.App .none {
    display: none;
}